{% extends 'base.html' %}
{% block content %}
<!-- 500 Error Render Page -->
<div class="container">
    <div class="error-icon-title">
        <div class="error-icon">
            <img src="../static/images/favicons.ico/apple-icon-180x180.png" alt="Image Load Error">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <span class="display-1 d-block">500</span>
            <div class="mb-4 lead">Sorry, An Unexpected Error Has Occured</div>
        </div>
    </div>
</div>
{% endblock %}