/* Main_Header */
.header-box {
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 20px rgb(234, 232, 232);
}

.header-row {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    opacity: 0.8;
}

/* Main_Content */
.main-content {
    font-family: 'Quicksand', sans-serif;
}

.card {
    height: 180px;
}

.detail-box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 20px rgb(234, 232, 232);
}

.detail-box-body {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.detail-box-right {
    display: flex;
    align-items: center;
    position: relative;
}

.inspected-on-box {
    position: absolute;
    top: 35px;
    right: 400px;
    width: 230px;
}

.inspector-box {
    position: absolute;
    top: 35px;
    right: 170px;
    width: 230px;
}

.inspector-box-status {
    position: absolute;
    top: 35px;
    right: 20px;
    width: 130px;
}

.inspected-on-box-title,
.inspector-box-title,
.inspector-box-status-title {
    font-weight: 700;
}

.inspected-on-box-title,
.inspected-on-box-text,
.inspector-box-title,
.inspector-box-text,
.inspector-box-status-title,
.inspector-box-status-text {
    text-align: center;
}

.is_damaged-box h4 {
    font-weight: 700;
}

.confirm-disabled {
    color: rgba(19, 212, 19, 0.836);
}

.info-image-box-col {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.content-box {
    height: 220px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 20px rgb(234, 232, 232);
}

.image-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(101, 100, 100);
}

.is_damaged-box {
    width: 50px;
    height: 100%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inspect-box {
    height: 100%;
    margin-left: 193px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    box-shadow: 0px 2px 20px rgb(234, 232, 232);
}

.card-img-top {
    width: 200px;
    height: 200px;
}

.message {
    text-align: center;
}